
@import url("https://fonts.googleapis.com/css?family=Audiowide&effect=outline&display=swap");
*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background:rgb(184, 184, 184);
  box-shadow: 0 1px 50px 3px rgb(0, 0, 0);
  z-index: 2;

}

.header-content{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;

}

.name{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.name h1{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Audiowide", sans-serif;
  font-size: 40px;
}

.name h1 b{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Audiowide", sans-serif;
  font-size: 40px;
}

.menu{
  height: 80px;
}

.menu nav{
  height: 100%;
  
}

.menu nav ul{
  height: 100%;
  display: flex;
  list-style: none;
  
}

.menu nav ul li{
  height: 100%;
  margin: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}
.nav-item{
font-style:"Audiowide", normal;

}

.nav-item-active:before{
  content: '';
  width: 100%;
  height: 4px;
  background: rgba(255, 0, 0, 0.63);
  box-shadow: 0 4px 60px 5px rgb(255, 0, 0, 0.63);
  position: absolute;
  font-style:"Audiowide", normal;
  top: 0;
  left: 0;

}

.menu nav a{
  color: rgb(255, 255, 255);
}

.menu nav a:hover{
  color: rgba(255, 0, 0, 0.63);
}

.menu .text-nav-item-active{
  color: rgba(255, 0, 0, 0.63);
}

  .wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 1000px;
    width: 60%;
    background: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 4px 4px 20px  black; 
  }
  
  .wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
  }
  

